
		<!-- trying without the navbar -->
		<div class="pageheader">
			<h1>Development through Committee</h1>
		<div class = "navbar navbar navbar-fixed-top"
			<div class="container">
			<div class="navbar-inner"> 
				<button id="profile-button" type="button" class="btn btn-default btn-lg active">Contact us to become a part of the team</button>
				
				<button id="project-button" type="button" class="btn btn-default btn-lg active">Contact us for project</button>

				<button id="about-button" type="button" class="btn btn-default btn-lg active">Development through what?</button>
			</div>
			</div> 
			</div> 
			</div>
					<div id='profile-list'>
					</div>
					
					<div id='project-list'>
					</div>
					
					<div id='about-info'>
						<h5>Development by Committee has two focuses. One to provide really great Web Applications at the best rates available. 
						<br>
						<br>
						As a client, your project will benefit by being development by a large team of great web developers.
						<br>
						<br>
						As a developer you'll benefit from working on challenging projects with other skilled developers and designers as well as direction from Sr. Developers and Industry Guru's.
						</h5>
					</div>



					<form id="project-form">
						<input id="name-field" placeholder='name' type="text"><br>
						<input id="email-field" placeholder='email' type="text"><br>
						<input id="title-field" placeholder='title' type="text"><br>
						<input id="description-field" placeholder='description' type="text"><br>
						<button type="submit"></button>
					</form>

					<!-- Profile form -->
					<form id="profile-form">
						<input id="name-field" placeholder='name' type="text"><br>
						<input id="email-field" placeholder='email' type="text"><br>
						<input id="work-field" placeholder='work' type="text"><br>
						<input id="story-field" placeholder='story' type="text"><br>
						<button type="submit"></button>
					</form>

				<div class="container"> 
					<div class="jumbotron">
						<div id="carousel" class="carousel slide" data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel" data-slide-to="0" class="active"></li>
								<li data-target="#carousel" data-slide-to="1"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner">

								<div class="item active">
									<div id="help">
									<a href="http://vitriol.herokuapp.com/"><img src="images/screenshot475.png" alt="projects" = "img-responsive"></a>
									</div>
								</div>

								<div class="item">
									<div id="help">
									<a href="http://come-with-me.herokuapp.com/"><img src="images/screenshot475t.png" alt="projects" = "img-responsive"></a>
									</div>
								</div>

							</div>
							<!-- Controls -->
							<a class="left carousel-control" href="#carousel" data-slide="prev">
								<span class="icon-prev">
								</span>
							</a>
							<a class="right carousel-control" href="#carousel" data-slide="next">
								<span class="icon-next">
								</span>
							</a>
						</div>
					</div>
			 	</div> 
					<!-- profiles code -->
					
				<!-- <div class="container"> -->
					
				<!-- </div> -->
					<div class="col-md-3 col-md-offset-8">
						<!-- Profile List -->




					<!-- Profile template -->
					<script id="profileview-template" type='text/x-handlebars-template'>
					<h2> Hi, {{ name  }}, we will contact you shortly</h2>
					
					</script>
				<!-- 	<h3>  email  </h3>
					<h3>  work   </h3>
					<h3> story  </h3> -->


			<!--projects code -->
					<!-- project form -->
					<!-- <form id="project-form">
						<input id="name-field" placeholder='name' type="text"><br>
						<input id="email-field" placeholder='email' type="text"><br>
						<input id="title-field" placeholder='title' type="text"><br>
						<input id="description-field" placeholder='description' type="text"><br>
						<button type="submit"></button>
					</form> -->

					<!-- project list -->
					

	<!-- project/contact template 
		although I don't need this information to show on the page-->
		<script id="projectview-template" type='text/x-handlebars-template'>
			<h2> Thanks,{{ name }}, someone will contact you about your project shortly. </h2>
			
		</script>
		
		<!-- <h3> {{ email }} </h3>
			<h3> {{ title }} </h3>
			<h3> {{ description }}</h3> -->



		
		<%= javascript_include_tag "underscore" %>
		<%= javascript_include_tag "backbone" %>
		<%= javascript_include_tag "app" %>
