body {
  background-color: #141D2F;
  background-image: url('http://m.flikie.com/ImageData/WallPapers/71eee3ce6f42490a90af0e4e94f92f75.jpg');
 /*padding-top: 40px;*/
/*padding is for use with navbar 100px;*/
}

p {
  color: white;
}

h1 {
font-family: 'Bowlby One', cursive;
color: white;
font-size: 50px;
}

ul{
  font-size: 1.5em;
}

button{
	border-radius: 50%;
	background-color: black;
}
input{
	 box-shadow: .01em .01em green;
   border-radius: .4em;
}
#profile-form {
  display: none;
  z-index: +1;
  position: absolute;
}
#project-form {
  display: none;
  z-index: +1;
  position: absolute;
}
#project-list {
 z-index: +1;
  width: 50%;
  border-radius: 1em;
  padding: 1em;
  margin: .25em;
  width: 50%;
  height: 100px;
  float: right;
  text-align: right;
}
#profile-list {
  /*background-color: #FFFFCC;*/
  z-index: +1;
  border-radius: 1em;
  padding: 1em;
  margin: .25em;
  width: 50%;
  float: right;
  text-align: right;
}
#about-info {
  background-color: #801A00;
  display: none;
  z-index: +1;
  width: 30%;
  border-radius: 1em;
  padding: 1em;
  margin: .25em;
  position: absolute;
  float: right;
  color: white;
}


#help {
  max-width: 200px; 
  max-width: 200px;
}

.centertop {
  margin-left:auto;
  margin-right:auto;
  width: 90%;
  text-align: center;
}

#center {
 
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}

#title {
  font-family: 'Tangerine', serif;
}


